<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/XSL/Transform" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/homepage-style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Book</title>
</head>
<body>
<nav>
    <ul class="menu">
        <li><a class="logo" href="/">MyLibrary</a></li>
        <ul>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/user/admin}">Admin Panel</a>
            </li>

            <th:block sec:authorize="isAuthenticated()">
                <li><a th:href="@{/user/bookshelf}">Bookshelf</a></li>
                <li><a th:href="@{/user/logout}">Logout</a></li>
            </th:block>

            <th:block sec:authorize="isAnonymous()">
                <li><a th:href="@{/user/login}">Login</a></li>
                <li><a th:href="@{/user/register}">Register</a></li>
            </th:block>
        </ul>
    </ul>
</nav>
<div class="container">
    <div class="content">
        <div th:if="${param.success} != null">
            <div th:if="${param.success[0]} == 1" class="success">
                Your review was added successfully!
            </div>
            <div th:if="${param.success[0]} == 2" class="success">
                Your rating was added successfully!
            </div>
            <div th:if="${param.success[0]} == 3" class="success">
                Book was added to your bookshelf successfully!
            </div>
            <div th:if="${param.success[0]} == 4" class="success">
                Book was removed from your bookshelf successfully!
            </div>
        </div>
        <div class="book">
            <img th:src="${book.imageLink}" alt="">
            <div class="description">
                <p>
                    <b>Title: </b> <span th:text = "${book.title}"></span>
                </p>
                <p class="author-link">
                    <b>Author:</b>
                    <th:block th:each="author, i : ${book.authors}">
                        <a class="book-link" th:href="@{/author?id=} + ${author.id}">
                                <span th:if = "${!i.last}">
                                    <span th:text = "${author.firstName} + ' ' + ${author.lastName} + ','"></span>
                                </span>

                            <span th:if = "${i.last}">
                                    <span th:text = "${author.firstName} + ' ' + ${author.lastName}"></span>
                                </span>
                        </a>
                    </th:block>
                </p>
                <p><b>Release date:</b>
                    <span th:text = "${book.releaseDate.day} + '.'
                                + ${book.releaseDate.month} + '.'
                                + ${book.releaseDate.year}"></span>
                </p>
                <p><b>Rating:</b>
                    <span th:text = "${book.rating}"></span>
                </p>
                <div sec:authorize="isAuthenticated()" th:if="!${#lists.contains(book.usersWhoRated, user)}">
                    <form th:action="@{/book/rating}" th:object="${book}" method="POST">
                        <input type="hidden" th:field="${book.id}"/>
                        <input type="hidden" th:field="${book.title}"/>
                        <input type="hidden" th:field="${book.description}"/>
                        <input type="hidden" th:field="${book.imageLink}"/>
                        <input type="hidden" th:field="${book.rating}"/>
                        <input type="hidden" th:field="${book.numberOfRatings}"/>
                        <input type="hidden" th:field="${book.releaseDate.id}"/>
                        <input type="hidden" th:field="${book.releaseDate.day}"/>
                        <input type="hidden" th:field="${book.releaseDate.month}"/>
                        <input type="hidden" th:field="${book.releaseDate.year}"/>
                        <label>
                            <select th:field="${book.tempRating}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </label>
                        <button type="sumbit">
                            Add rating
                        </button>
                    </form>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div th:if="${!#lists.contains(bookshelf.books, book)}">
                        <form th:action="@{/book/addToBookshelf?id=} + ${book.id}" method="POST">
                            <button type="sumbit">
                                Add book to bookshelf
                            </button>
                        </form>
                    </div>
                    <div th:if="${#lists.contains(bookshelf.books, book)}">
                        <form th:action="@{/book/removeFromBookshelf?id=} + ${book.id} + '&inBookshelf=false'"
                              method="POST">
                            <button type="sumbit">
                                Remove book to bookshelf
                            </button>
                        </form>
                    </div>
                </div>
                <p>
                    <b>Description:</b> <span th:text="${book.description}"></span>
                </p>
                <div sec:authorize="isAuthenticated()">
                    <form th:action="@{book/review?booksID=} + ${book.id}"
                          th:object="${review}" method="POST">
                        <textarea rows="10" cols="50" placeholder="Enter your review" name="comment"></textarea>
                        <button type="sumbit">
                            Add review
                        </button>
                    </form>
                </div>
                <div th:if="${#lists.size(book.reviews)} > 0">
                    <b>Reviews: </b>
                    <div th:each="review : ${book.reviews}">
                        <b><span th:text="${review.user.username}"></span>: </b>
                        <span th:text="${review.comment}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>