<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/XSL/Transform">
<head>
    <link href="http://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
    <title>Login</title>
</head>
<body>
<div class="middlePage">
    <div class="page-header">
        <h1 class="logo">MyLibrary
            <small>Welcome to my project!</small>
        </h1>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <a href="#"><img src="http://techulus.com/buttons/fb.png"/></a><br/>
                    <a href="#"><img src="http://techulus.com/buttons/tw.png"/></a><br/>
                    <a href="#"><img src="http://techulus.com/buttons/gplus.png"/></a>
                </div>

                <form th:action="@{/user/login}" method="POST">
                    <div class="col-md-7" style="border-left:1px solid #ccc;height:250px">
                        <fieldset>
                            <div th:if="${param.error}"
                                 class="alert alert-danger col-xs-offset-1 col-xs-10">
                                Invalid username and/or password.
                            </div>
                            <div th:if="${param.logout}"
                                 class="alert alert-success col-xs-offset-1 col-xs-10">
                                You have been logged out.
                            </div>

                            <input type="text" name="username" placeholder="Enter Username" class="form-control login">
                            <div class="spacing">
                                <small><input type="password" name="password" placeholder="Enter Password"
                                              class="form-control"></small>
                                <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">
                                    Sign In
                                </button>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <p><a th:href="@{/}">Main page</a></p>
    <p class="login-register"><a th:href="@{/user/register}">Register</a>
    </p>
</div>
</body>
</html>